PORT=8080

AWS_BEARER_TOKEN_BEDROCK=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

KAFKA_BROKER=kafka:29092

REGION=
S3_BUCKET=

MODEL_ID=
EMBEDDING_DIMENSION=

TEXT_EMBEDDING_MODEL_ID=
TEXT_INDEX_NAME=
TEXT_EMBEDDING_DIMENSION=

VECTOR_BUCKET=
INDEX_NAME=